{% extends 'app/base.html' %}
{% load static %}
{% block content %}
    <div class="edit-user-header">
        <h1>{{user.username}}</h1>
        {% if profile.avatar_img %}
            <img class="avatar" src ="{{profile.avatar_img.url}}"></img>
        {% else %}
            <img class="avatar" src ="{{profile.avatarurl}}"></img>
        {% endif %}
    </div>
    <a href="{%url 'accounts:changepassword' %}">Change password</a>
    <a href="{%url 'accounts:extendededit' %}">Change bio and avatar</a>
    <div class="row">
        <div class="col-md-12"><h2 class="text-center">Edit profile</h2></div>
    </div>
        <form method="post" accept-charset="utf-8">
            {% csrf_token %}
            
            {%include 'includes/bs4_form.html' %}
            <div class="row">
            <div class="col-md-8 mx-auto"><input type="submit" value="Save" class="btn btn-primary"></div>
        </form>
{% endblock %}