{% extends 'app/base.html' %}
{% load static %}
{% block content %}
{%if not user.is_authenticated%}
    {% for tribe in tribes %}    
        <div class="card bg-light text-dark">
            <div class="card-body">
                {%if tribe.logo_img%}
                    <img class = "tribe-logo" src="{{tribe.logo_img.url}}"></img>
                {% else %}
                    <img class = "tribe-logo" src="{{tribe.logourl}}"></img>
                {% endif%}
                <a href="{% url 'app:tribe' tribe.id %}"><h1 style="display:inline;">{{ tribe.name }}</h1></a>
                {% if tribe.author.avatar_img %}
                    <img class="card-img float-right" src="{{tribe.author.avatar_img.url}}" alt="Card image">
                {% else %}
                    <img class="card-img float-right" src="{{tribe.author.avatarurl}}" alt="Card image">
                {% endif %}
                <h4 class ="float-right" style="display:inline;">created by: {{tribe.created_by}}</h4>
                
            </div>
        </div>
    {% endfor %}  
{%else%}
    <h1>Chieftain tribes</h1>
    {%for chieftain_tribe in chieftain_tribes%}
        <div class="card bg-light text-dark">
            <div class="card-body">
                {%if chieftain_tribe.logo_img%}
                    <img class = "tribe-logo" src="{{chieftain_tribe.logo_img.url}}"></img>
                {% else %}
                    <img class = "tribe-logo" src="{{chieftain_tribe.logourl}}"></img>
                {% endif%}
                <a href="{% url 'app:tribe' chieftain_tribe.id %}"><h1 style="display:inline;">{{ chieftain_tribe.name }}</h1></a>
                {% if chieftain_tribe.author.avatar_img %}
                    <img class="card-img float-right" src="{{chieftain_tribe.author.avatar_img.url}}" alt="Card image">
                {% else %}
                    <img class="card-img float-right" src="{{chieftain_tribe.author.avatarurl}}" alt="Card image">
                {% endif %}
                <h4 class ="float-right" style="display:inline;">created by: {{chieftain_tribe.created_by}}</h4>
                
            </div>
        </div>
        {%empty%}
        <h5 class="text-muted">You aren't a chieftain of any tribes. Create a new tribe to become a chieftain.</h5>
        {% endfor %}
        <h1>Member tribes</h1>
        {% for member_tribe in member_tribes%}
        <div class="card bg-light text-dark">
            <div class="card-body">
                {%if member_tribe.logo_img%}
                    <img class = "tribe-logo" src="{{member_tribe.logo_img.url}}"></img>
                {% else %}
                    <img class = "tribe-logo" src="{{member_tribe.logourl}}"></img>
                {% endif%}
                <a href="{% url 'app:tribe' member_tribe.id %}"><h1 style="display:inline;">{{ member_tribe.name }}</h1></a>
                {% if member_tribe.author.avatar_img %}
                    <img class="card-img float-right" src="{{member_tribe.author.avatar_img.url}}" alt="Card image">
                {% else %}
                    <img class="card-img float-right" src="{{member_tribe.author.avatarurl}}" alt="Card image">
                {% endif %}
                <h4 class ="float-right" style="display:inline;">created by: {{member_tribe.created_by}}</h4>
            </div>
        </div>
        {%empty%}
        <h5 class="text-muted">You aren't a member of any tribes.</h5>
        {% endfor %}
        <h1>Discover tribes</h1>
        {% for discover_tribe in discover_tribes%}
        <div class="card bg-light text-dark">
            <div class="card-body">
                {%if dicover_tribe.logo_img%}
                    <img class = "tribe-logo" src="{{discover_tribe.logo_img.url}}"></img>
                {% else %}
                    <img class = "tribe-logo" src="{{discover_tribe.logourl}}"></img>
                {% endif%}
                <a href="{% url 'app:tribe' discover_tribe.id %}"><h1 style="display:inline;">{{ discover_tribe.name }}</h1></a>
                {% if discover_tribe.author.avatar_img %}
                    <img class="card-img float-right" src="{{discover_tribe.author.avatar_img.url}}" alt="Card image">
                {% else %}
                    <img class="card-img float-right" src="{{disover_tribe.author.avatarurl}}" alt="Card image">
                {% endif %}
                <h4 class ="float-right" style="display:inline;">created by: {{discover_tribe.created_by}}</h4>
            </div>
        </div>
        {%empty%}
        <h5 class="text-muted">Nothing here yet.</h5>
        {% endfor %}
{%endif%} 
{% endblock %}