{% extends 'app/base.html' %}
{%load static%}
{% block content %}

    
<div class="jumbotron d-flex">
    <div class="container-fluid">
        <div class="row">
            <div class="col-3">
                {% if is_member_of_tribe %}
                {% include "includes/add_song_button.html" with playlist=playlist %}
                {% endif %} 
            </div>
            <div class="col-lg-7">

            </div>
            <div class="col-2">
                <h4 class="text-muted">Created by: {{playlist.creator}}</h4>
                <h6 class = "text-muted">{{playlist.created_at}}</h6>
            </div>
        </div>
    </div>
</div>

    <div class="row">
        <div class ="col-5">
            <h1 id="playlist-name">{{playlist.name}}</h1>
            <h5 style="display:inline;">Description: </h5>
            <p style="display:inline;">{{playlist.description}}</p>
        </div>
        <div class ="col-7">
            {%include "includes/songs.html" with song_with_likes=song_with_likes%}
        <!--#songs-container-->
        </div>
    </div>


<script>
function showComments() {

  if (event.srcElement.nextElementSibling.style.display === "none") {
    event.srcElement.nextElementSibling.style.display = "block";
  } else {
    event.srcElement.nextElementSibling.style.display = "none";
  }
} 
</script>               
{% endblock %}
  
