{% extends 'app/base.html' %}
{%load static%}
{% block content %}

    
<div class="jumbotron d-flex">
    <div class="container-fluid">
        <div class="row">
            <div class="col-3">
                {% if is_member_of_tribe %}
                {% include "includes/add_song_button.html" with playlist=playlist %}
                {% endif %} 
            </div>
            <div class="col-lg-7">

            </div>
            <div class="col-2">
                <h4 class="text-muted">Created by: {{playlist.creator}}</h4>
                <h6 class = "text-muted">{{playlist.created_at}}</h6>
            </div>
        </div>
    </div>
</div>
<div class = "playlist-main-container">
    <div class ="description-container">
        <h1 id="playlist-name">{{playlist.name}}</h1>
        <h5 style="display:inline;">Description: </h5>
        <p style="display:inline;">{{playlist.description}}</p>
    </div>



    <div class ="songs-container">
        <h1>Songs</h1>
        {% for song,like,like_count in songs_with_likes %}
        <div class="card bg-light text-dark">
            <div class="card-body">
                <div class ="row">
                    <div class="col-8">
                        <h4>{{ song.artist }} - {{ song.title }} ({{song.minutes}}:{{song.seconds}})</h4>
                    </div>
                    <div class="col-1">
                        
                        <a href="{{song.url}}" class="btn btn-info">Play</a>

                    </div>
                    <div class="col-3 d-flex justify-content-center">
                        {% if user == playlist.creator.user or user.is_superuser or user == tribe.chieftain or user.profile == song.creator%}
                        {% include "includes/delete_song_button.html" with song=song %}
                        {% endif %}
                        {% if is_member_of_tribe or user.profile == tribe.chieftain%}
                            {% if like %}
                            {% include "includes/dislike_button.html" with song=song %}
                            {% else %}
                            {% include "includes/like_button.html" with song=song %}
                            {% endif %}
                        {% endif %}   
                        <h5 style="margin-left:3%;margin-top:3%;">{{ like_count }}</h5>
                    </div>
                </div>
                <div class="row">
                    <button class="btn btn-basic" id="btn-comments" onclick="showComments()">Toggle comments...</button>
                    <div class="comments">
                        {%for comment in comments%}
                            {%if comment.song == song%}
                                <div class="card bg-basic">
                                    <p class="message" style="margin-left:2%;">{{comment.text}}</p>
                                    <div class="card-footer">
                                        {%if comment.user.avatar_img%}
                                            <img class = "avatar-mini" src="{{comment.user.avatar_img.url}}"></img>
                                        {% else %}
                                            <img class = "avatar-mini" src="{{comment.user.avatarurl}}"></img>
                                        {% endif %}
                                            <p style="display:inline;">{{comment.user}}, {{comment.created_at}}</p>
                                        {% if tribe.chieftain == comment.user %}
                                            <img src="{% static '/app/chieftain-logo.png' %}" width="20" height="20" alt="">
                                        {% endif %}
                                    </div>
                                    {%endif%}
                                
                        {%endfor%}
                            {% if user.is_authenticated %}
                                <h5 style="text-align:center;">Comment: </h5>   
                                    <form action="{% url 'app:add_comment' tribe_id=tribe.id playlist_id=playlist.id song_id=song.id %}" accept-charset="utf-8" method = "POST"  style="text-align:center;">
                                            {% csrf_token %}
                                            {% include 'includes/bs4_form.html' with form=form %}
                                            <input type="submit" value="Post message" class="btn btn-primary">
                                        
                                    </form>
                            {%endif%}
                            </div>
                    </div>
                </div>
            </div>
        </div> 

            {%empty%}
            <h5 class="text-muted">Playlist is empty.</h5>
            {% endfor %}
    </div>
</div>    
<script>
function showComments() {
console.log(event);

  if (event.srcElement.nextElementSibling.style.display === "none") {
    event.srcElement.nextElementSibling.style.display = "block";
  } else {
    event.srcElement.nextElementSibling.style.display = "none";
  }
} 
</script>               
{% endblock %}
  
