{% extends 'app/base.html' %}
    
{% block content %}

{% if user.username != tribe.created_by and not is_member %}
{% include 'includes/join_button.html' with tribe=tribe %}
{% endif %}
<a href="{% url 'app:create_playlist' %}">Create New Playlist</a>
<div class = row>
    {% for playlist in playlists %}
    <div class="col-md-6">
        <a href="{% url 'app:playlist' tribe_id=tribe.id playlist_id=playlist.id %}"><h1>{{ playlist.name }}</h1></a>
    </div>
    {% endfor %}
</div>
{% endblock %}