{% load static %}
<h1>Songs</h1>
{% for song,like,like_count in songs_with_likes %}
<div class="card bg-light text-dark">
    <div class="card-body">
        <div class ="row">
            <div class="col-8">
                <h4>{{ song.artist }} - {{ song.title }} ({{song.minutes}}:{{song.seconds}})</h4>
            </div>
            <div class="col-1">
                <a href="{{song.url}}" class="btn btn-info">Play</a>
            </div>
            <div class="col-3 d-flex justify-content-center">
                {% if user == playlist.creator.user or user.is_superuser or user == tribe.chieftain or user.profile == song.creator%}
                    {% include "includes/delete_song_button.html" with song=song %}
                {% endif %}
                {% if is_member_of_tribe or user.profile == tribe.chieftain%}
                    {% if like %}
                        {% include "includes/dislike_button.html" with song=song %}
                    {% else %}
                        {% include "includes/like_button.html" with song=song %}
                    {% endif %}
                {% endif %}   
                <h5 style="margin-left:3%;margin-top:3%;">{{ like_count }}</h5>
            </div>
        </div>
        
        <div class="comments-container">
            <button class="btn btn-basic" id="btn-comments" onclick="showComments()">Toggle comments...</button>
            <div class="comments">
                    {% for comment in comments %}
                        {% if comment.song == song %}
                                <p class="message" style="margin-left:2%;">{{comment.text}}</p>
                                <div class="card-footer">
                                
                                    {% if comment.user.avatar_img %}
                                        <img class = "avatar-mini" src="{{comment.user.avatar_img.url}}"></img>
                                    {% else %}
                                        <img class = "avatar-mini" src="{{comment.user.avatarurl}}"></img>
                                    {% endif %}
                                        <p style="display:inline;">{{comment.user}}, {{comment.created_at}}</p>
                                    {% if tribe.chieftain == comment.user %}
                                        <img src="{% static '/app/chieftain-logo.png' %}" width="20" height="20" alt=""></img>
                                    {% endif %}
                                    {% if user.is_superuser or user == tribe.chieftain or user.profile == comment.user %}
                                    {% include "includes/delete_comment_button.html" with comment=comment %}
                                    {% endif %}
                                </div>
                        {% endif %}
                    {% endfor %}
                    {% if user.is_authenticated %}  
                            <form action="{% url 'app:add_comment' tribe_id=tribe.id playlist_id=playlist.id song_id=song.id %}" accept-charset="utf-8" method = "POST"  style="text-align:center;">
                                    {% csrf_token %}
                                    {% include 'includes/bs4_form.html' with form=form %}
                                    <input type="submit" value="Comment" class="btn btn-primary">
                            </form>
                    {%endif%}
                
                            </div>
                
    </div>
    <!--#Card-body-->
    </div>
<!--#Card-->
</div>
{%empty%}
<h5 class="text-muted">Playlist is empty.</h5>
{% endfor %}