body{
    background: rgb(62,60,60);
    background: linear-gradient(0deg, rgba(62,60,60,1) 0%, rgba(126,131,138,1) 0%);
    overflow-x:hidden;
}
.all-forms{
    background:rgb(236, 236, 236);
    padding:3%;
}
.tribe-main-container{
    height:100%;
}
.card-img{
    margin-right:1%;
    margin-left:1%;
    width:50px;
    height:50px;
    border-radius: 50%;
}
.card-footer{
    font-family: 'Yanone Kaffeesatz', sans-serif;
   
}
.avatar{
    width:50px;
    height:50px;
    border-radius: 50%;
    margin-right:2%;
    margin-left:2%;
}
.avatar-mini{
    width:30px;
    height:40px;
    border-radius:50%;
}
.tribe-content{
    text-align:center;
}
.jumbotron{
    padding-bottom: 20px;
    padding-top: 20px;
    margin-bottom: -5px;
}
.tribe-logo{
    width:60px;
    height:50px;
    margin-right:2%;
    margin-left:2%;
}
.messages-container{
    margin-top: 10px;
    overflow-y: auto;
    border:solid rgb(70, 69, 69) 1px;
    border-radius:10px;
    height: 400px;
    width: 98%;
}
.members-container{
    margin-top:2%;
    background: rgb(255,255,255);
    background: linear-gradient(264deg, rgba(255,255,255,1) 0%, rgba(39,50,66,1) 0%);
    border-right:solid gray 1px;
    border-bottom:solid gray 1px;
    border-radius:5%;
    overflow-y: auto;
    overflow-x:auto;
    height: 700px;
    color:rgb(214, 214, 214);
}
.description-container{
    text-align:center;
}
.playlist-main{
    height:100%;
   
}
.jumbo{
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(150,152,199,1) 100%);
}
#playlist-name{
    text-align:center;
    border-bottom:solid rgb(173, 171, 171) 2px;
    border-radius:20%;
}
.message{
    font-size: 1.2em;
    margin:3%;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}
.comment{
    margin:2%;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight:500;
}
textarea{
    max-height:50px;
}
.comments{
    display:none;
    width:100%;
    margin-top:1%;
    overflow-y:scroll;
    max-height:250px;
    border:solid 1px;
    border-color:#D8D8D8;
}
.tribe-name{
    font-family: 'Noto Sans', sans-serif;
}
.edit-user-header{
    margin:2%;
    text-align:center;
}
.edit-user-optional{
    margin:2%;
    text-align:center;
}