.card-img{
    width:50px;
    height:60px;
    border-radius: 50%;
}
.avatar{
    width:50px;
    height:60px;
    border-radius: 50%;
}
.avatar-mini{
    width:30px;
    height:40px;
    border-radius:50%;
}
.tribe-content{
    text-align:center;
}
.jumbotron{
    padding-bottom: 20px;
    padding-top: 20px;
    margin-bottom: -5px;
}
.tribe-logo{
    width:60px;
    height:50x;
}
.messages-container{
    margin-top: 10px;
    overflow-y: scroll;
    border:solid gray 1px;
    border-radius:10px;
    height: 400px;
    width: 98%;
}
.members-container{
    border-right:solid gray 1px;
    border-bottom:solid gray 1px;
    margin-top: 5px;
    
    overflow-y: scroll;
    height: 700px;
}
.songs-container{
    width:50%;
    margin-top:1%;
}
.description-container{
    margin-left:1%;
    margin-right:5%;
    margin-top:1%;
    border:solid gray 1px;
    border-radius:10%;
    width:30%;
    min-height:400px;
}
.playlist-main-container{
    display:flex;
}
#playlist-name{
    text-align:center;
    border-bottom:solid gray 2px;
    border-radius:20%;
}
.message{
    font-size: 1.2em;
    margin-left:4px;
}
textarea{
    max-height:50px;
}
.comments{
    display:none;
    width:100%;
    border:solid 1px;
    border-radius:10%;
    border-color:#D8D8D8;
}